<div id="wrapper" ng-init='init()'>
        <div ng-include="'partials/navBar.html'"></div>
        
         <div ng-include="'partials/menuRestaurateur.html'" ng-init="[selectedParam =true]"></div>
       
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                           {{translation.page_header_all_tva}}
                        </h1>
                    </div>
                </div>
            <div class="row" >
                   <div class="col-xs-4">
                        
                    </div>
                  <div class="row bar-search" >
                    <div class="col-md-12">
                      <div class="col-md-6  no-padding">
                        <p class="pull-left search">{{tableParams.sorting()|json}}
                        <input ng-model="searchparam" class="form-control input-sm" type="text" placeholder="recherche" autofocus></p>
                      </div>
                      <div class="col-md-6  no-padding">
                        <button ng-click="" class="btn btn-default pull-right"><a href="#/addTva">{{translation.bt_add_tva}}</a></button>
                      </div>
                  </div>
                </div>
                <div class="row" >
                  
                </div>
                <div class="row" >
                  <div class="col-md-12">
                    <table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th ng-click="predicate = 'last_name'; reverse=!reverse">{{translation.label_name}}</th>
                                <th ng-click="predicate = 'name_restaurant'; reverse=!reverse">{{translation.label_values}}</th>
                                <th class="action-col">{{translation.label_action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in tvas | filter: searchparam | orderBy:predicate:reverse | pagination: curPage * pageSize | limitTo: pageSize">
                              <td data-title="'name'" sortable="'name'" filter="{ 'name': 'text' }">
                                {{x.name}}
                              </td>  
                              <td data-title="'values'" sortable="'values'" filter="{ 'values': 'text' }">
                                {{x.value}}%
                              </td>                           
                              <td>
                                <button  class="btn btn-default"><a href="#/updateTva/{{x.id}}">{{translation.bt_update}}</a></button>
                                <button ng-click="supprimer(x)" class="btn btn-default"><a href="">{{translation.bt_delete}}</a></button>
                              </td>
                            </tr>
                            <modal-dialog show='modalShown' width='440px'>
                              <div class="row"><center><b>{{translation.label_worrnig}}</b></center></div>
                              <div class="row"></div>
                                <div class="row">
                                  <div class="col-xs-12">
                                    {{translation.msg_delete}}<b>{{tvaName}}</b>.
                                  </div>
                                </div>
                                  <div class="row"></div>
                                  <div class="row">
                                    <div class="col-xs-12">
                                      <div class='btn btn-default pull-right' ng-click="yes(rad1)">{{translation.label_yes}}</div>
                                    </div>
                                  </div>
                                <div class="row"></div>
                             </modal-dialog>
                        </tbody>
                    </table>
                    </div>
                  </div>
            </div> 
            <div class="row">
              <div class="col-md-12">
                    <div class="dataTables_paginate paging_simple_numbers" ng-show="tvas.length">
                        <ul class="pagination">
                            <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous" >
                                <a  href="">
                                    <button class='paginationBtn' type="button" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">  
                                            {{translation.bt_prev}}
                                    </button>
                                </a>
                            </li>
                             <li >
                               <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                            </li>
                            <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next" >
                                <a  href="">
                                    <button class='paginationBtn' type="button" ng-disabled="curPage >= tvas.length/pageSize - 1" ng-click="curPage = curPage+1">{{translation.bt_next}}
                                        </button>
                                </a>
                            </li>
                        </ul>
                      </div>
                    </div>
                </div>
            <div class="row" >
                
            </div>
        </div>
      </div>
</div>