 <div id="login-page" >
      <div class="container">
        
          <form class="form-login" ng-submit="reset()">
            <h2 class="form-login-heading">{{translation.label_pwd_forgotten}}</h2>
            <div class="login-wrap">
                <input type="password" class="form-control" placeholder="{{translation.label_pwd}}" ng-model="password" required>
                <br>
                <button class="btn btn-theme btn-block"  type="submit"><i class="fa fa-lock"></i> {{translation.bt_send}}</button>
            </div>
          </form>     
      </div>
</div>