<div id="wrapper" ng-init='init()'>
        <div ng-include="'partials/navBar.html'"></div>
        
         <div ng-include="'partials/menuRestaurateur.html'" ng-init="[selectedMenu =true] [selected=true]"></div>
       
        <div id="page-wrapper" >
          <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Menus
                        </h1>
                    </div>

                </div>
            <div class="panel panel-default">
                    <div class="panel-heading">
                       <h3> Mise à jour d'un menu </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        <div class="col-lg-2">
                            
                        </div>
            <div class="col-lg-8" >
                

                <form ng-submit="updateMenu()" name="addMenuForm" novalidate>
                                <div class="row form-group" ng-class="{'has-error':((addMenuForm.name.$error.minlength && submitted)||(addMenuForm.name.$error.required && submitted))}">
                                    <div  class="col-lg-2"><label>Nom</label></div>
                                    <div  class="col-lg-10"><input required name="name" ng-minlength="3" class="form-control" ng-model="menu.name">
                                        <label class="control-label" ng-show="(addMenuForm.name.$error.minlength && submitted)">Minimum 3 caractaire</label>
                                        <label class="control-label" ng-show="(addMenuForm.name.$error.required && submitted)">Non valide</label>
                                    </div>
                                </div>
                                <div ng-repeat="x in m">
                                <div class="row form-group">
                                    <div  class="col-lg-2"><label><b>Etape {{$index+1}}</b></label></div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error':((addMenuForm.step.$error.minlength && submitted)||(addMenuForm.step.$error.required && submitted))}">
                                    <div  class="col-lg-2"><label>Titre de l'etape</label></div>
                                    <div  class="col-lg-10"><input required name="step" class="form-control" ng-model="x.step.title">
                                        <label class="control-label" ng-show="(addMenuForm.step.$error.minlength && submitted)">Minimum 3 caractaire</label>
                                        <label class="control-label" ng-show="(addMenuForm.step.$error.required && submitted)">Non valide</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    
                                    <div  class="col-lg-8">
                                        <ul class="list-group" ui-sortable="valuesSortable" ng-model="listValues">
                                            <li ng-repeat ="p in x.step.products" >
                                                <label class="todoCheckboxlabel" >{{p.short_name}}</label>
                                                <button type="button" class="close pull-right" aria-hidden="true" ng-click="deleteOld($index,$parent.$index)">×</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 


                                <div class="row form-group">
                                    <div  class="col-lg-12">
                                        <input class="form-control" type="text" ng-model="tab[$index]" ng-change="changeOld(tab[$index],$index)" typeahead="t as (t.name) for t in prodSerched | filter:$viewValue" />
                                    </div>
                                </div>
                                </div>
                                <updatestepsteps></updatestepsteps>
                                <div id="space-for-buttons"></div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default pull-right">Valider</button>
                                </div>
                            </form>
                            </div>
                     </div>
                </div>
            </div>  
            </div>
</div>